
.date-picker {
    -fx-background-color: white;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 4px;
    -fx-padding: 4px 8px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}


.date-picker .day-cell {
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-padding: 5px;
    -fx-border-width: 0;
}

.date-picker .day-cell:hover {
    -fx-background-color: #eaeaea;
}

.date-picker .day-cell:selected {
    -fx-background-color: #A9A9A9;
    -fx-text-fill: white;
}


.date-picker .day-cell:disabled {
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #d3d3d3;
}


.date-picker .arrow-button {
    -fx-background-color: transparent;
}


.date-picker .arrow {
    -fx-background-color: #666;
}


.date-picker .month-year-pane {
    -fx-background-color: #f0f0f0;
}


.date-picker .month-year-pane .label {
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}


.date-picker .month-year-pane .arrow-button:hover {
    -fx-background-color: #e0e0e0;
}
